<h1>Hola {{ nombre() }}</h1>

<p>
  <input type="text" [(ngModel)]="nombre" />
  <input type="button" value="saluda" (click)="saluda()" />
  <input type="button" value="despide" (click)="despide()" />
  <input type="button" value="di algo" (click)="di('algo')" />
  <input type="button" value="cambia" (click)="cambia()" />
</p>

<p [textContent]="resultado()">esto se pierde</p>
<p [innerHTML]="resultado()">esto se pierde</p>

<p [hidden]="!visible()">Ahora me ves</p>
@if (visible()) {
  <p>Ahora existo</p>
}

<p [class]="estetica()">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ullam sequi et, illo nulla voluptatem
  voluptatibus autem laboriosam voluptates corporis ipsam laborum in commodi voluptas ad dignissimos
  explicabo. Libero, ducimus!
</p>
<p [class.semi-visible]="!visible()">Ahora me ves bien</p>

<p>Fecha: {{ fecha }}</p>

<p>Calcula: 2 + 2 = {{ 2 + 2 }} = {{ calculo(2, 2) }}</p>

<ul>
  @for (item of listado(); track item.id) {
    <li [style.background-color]="$odd ? 'lightskyblue' : 'lightcyan'">
      {{ item.nombre }} ({{ item.id }}) [Elemento {{ $index + 1 }} de {{ $count }}]
    </li>
  } @empty {
    <li>No hay provincias que mostrar</li>
  }
</ul>
<p><b>Total:</b> {{ total() }}</p>

<p>
  <select [(ngModel)]="idProvincia">
    <option value="">--Elige opción--</option>
    @for (p of listado(); track p.id) {
      <option [value]="p.id">{{ p.nombre }}</option>
    }
  </select>
  <b>Seleccionado: </b> {{idProvincia()}}
  <input type="text" value="Tabarnia" #txtProvincia >
  <button type="button" (click)="add(txtProvincia.value)">Add</button>
</p>

<!-- Ejemplo de servicios
 <p>
  <input type="button" value="Error" (click)="vm.add('Esto es una notificación de error')" >
  <input type="button" value="Warn" (click)="vm.add('Esta notificación es un aviso', vm.NotificationType.warn)" >
  <input type="button" value="Info" (click)="vm.add('Solo una notificación informativa', vm.NotificationType.info)" >
  <input type="button" value="Log" (click)="vm.add('Para trazar con notificaciones', vm.NotificationType.log)" >
</p>
<app-notification />
-->

<!-- ejemplo de señales
 <p>
  <input type="button" value="con señal" (click)="addSignal()" >
  Contador: <output>{{conSignal()}} ({{doble()}})</output>
</p>
<p>
  <input type="button" value="sin señal" (click)="addSinSignal()" >
  Contador: <output>{{sinSignal}}</output>
</p>
-->
